src/test/resources/XmlSchemaValidatorTest/invalid.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/invalid"
           xmlns="http://example.com/invalid"
           elementFormDefault="qualified">
    <xs:element name="invalidElement">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="data" type="xs:string"/>
                <!-- The following element is invalid because 'xs:integer' is misspelled as 'xs:intege' -->
                <xs:element name="number" type="xs:intege"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
